.post-container{
    width: 18rem;
    margin: 10px;
    /* make this scrollable */
}
.post-text{
}
.user{
    border-top: black 1px solid;
    text-align: right;
}
.upvote-container, .upvote-container > button, .upvote-container > span{
    margin: 10px;
}